<div style="text-align:center;">
    <h1><%= @stock.name%></h1>
</div>


<div class=" container mt-3">
    <h2>Description:</h2>
    <p><%= @company_details.description%></p>
</div>

<div class="container mt-3">
    <h2>News: </h2>
    <% @company_news.each_slice(4) do |articles| %>
        <div class="row">
            <% articles.each do |article|%>
                <div class="col-3 mb-3">
                    <div class="card shadow rounded">
                        <%= link_to  "", stock_path(@stock), class:"stretched-link" %>
                        <%= image_tag "news_thumbnail.jpg", class:"card-img-top "  %>
                        <div class="card-body">
                            <h5 class="card-subtitle"><%= truncate(article.headline)%> (<%= article.datetime%>)</h5>
                        </div>

                    </div>  
                </div>
            <%end%>
        </div>
    <%end %>
</div>
